<%inherit file="base.html"/>

<div id="content" class="search">
<h2><a href="/">MyErrata Search Results</a></h2>
<form action="/search">
<p>
    <small>Search for URL prefixes (e.g., google.com/):</small><br/>
    <b>URL prefix:</b>&nbsp;&nbsp;<input type="text" name="q" value="${q}" size="50"/>
    <input type="submit" value="Search"/><br/>
</p>
</form>

<hr/>
%for url, fixes in url_fixes:
<p class="result">
<a href="http://${url}">${url}</a>
</p>
<ul>
%for fix in fixes:
    <li>${fix.mark_changes()}</li>
%endfor%
</ul>
%endfor%
%if not url_fixes:
<p>
There are no fixes for URL prefix <b>${q}</b>.
</p>
%endif%

<hr/>
%if limit is not None:
<p>Displaying the first ${limit} fixes.
%endif%

</div>
